src/main/java/com/quanganh9x/springwsclient/endpoint/user/user.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://quanganh9x.com/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://quanganh9x.com/soap" targetNamespace="http://quanganh9x.com/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://quanganh9x.com/soap">
    <xs:import namespace="http://quanganh9x.com/soap" schemaLocation="00entity.xsd"/>
    <xs:element name="profile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="profileRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:xmluser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="login">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="loginRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:xmluser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="register">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="registerRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:xmluser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:portType name="UsersPort">
  </wsdl:portType>
  <wsdl:binding name="UsersPortSoap11" type="tns:UsersPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="UsersPortService">
    <wsdl:port binding="tns:UsersPortSoap11" name="UsersPortSoap11">
      <soap:address location="http://34.83.241.129:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>