src/main/java/t1708e/assignment/dwsjclient/service/image/image.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.dwsj.assignment.t1708e/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.dwsj.assignment.t1708e/" name="ImageServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.dwsj.assignment.t1708e/" schemaLocation="http://localhost:9000/image?xsd=1"/>
</xsd:schema>
</types>
<message name="createImage">
<part name="parameters" element="tns:createImage"/>
</message>
<message name="createImageResponse">
<part name="parameters" element="tns:createImageResponse"/>
</message>
<message name="updateImage">
<part name="parameters" element="tns:updateImage"/>
</message>
<message name="updateImageResponse">
<part name="parameters" element="tns:updateImageResponse"/>
</message>
<message name="getListImage">
<part name="parameters" element="tns:getListImage"/>
</message>
<message name="getListImageResponse">
<part name="parameters" element="tns:getListImageResponse"/>
</message>
<message name="deleteImage">
<part name="parameters" element="tns:deleteImage"/>
</message>
<message name="deleteImageResponse">
<part name="parameters" element="tns:deleteImageResponse"/>
</message>
<message name="getImagesByPlace">
<part name="parameters" element="tns:getImagesByPlace"/>
</message>
<message name="getImagesByPlaceResponse">
<part name="parameters" element="tns:getImagesByPlaceResponse"/>
</message>
<portType name="ImageService">
<operation name="createImage">
<input wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/createImageRequest" message="tns:createImage"/>
<output wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/createImageResponse" message="tns:createImageResponse"/>
</operation>
<operation name="updateImage">
<input wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/updateImageRequest" message="tns:updateImage"/>
<output wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/updateImageResponse" message="tns:updateImageResponse"/>
</operation>
<operation name="getListImage">
<input wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/getListImageRequest" message="tns:getListImage"/>
<output wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/getListImageResponse" message="tns:getListImageResponse"/>
</operation>
<operation name="deleteImage">
<input wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/deleteImageRequest" message="tns:deleteImage"/>
<output wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/deleteImageResponse" message="tns:deleteImageResponse"/>
</operation>
<operation name="getImagesByPlace">
<input wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/getImagesByPlaceRequest" message="tns:getImagesByPlace"/>
<output wsam:Action="http://service.dwsj.assignment.t1708e/ImageService/getImagesByPlaceResponse" message="tns:getImagesByPlaceResponse"/>
</operation>
</portType>
<binding name="ImageServicePortBinding" type="tns:ImageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImagesByPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ImageServiceService">
<port name="ImageServicePort" binding="tns:ImageServicePortBinding">
<soap:address location="http://localhost:9000/image"/>
</port>
</service>
</definitions>