src/main/java/t1708e/assignment/dwsjclient/service/place/place.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.dwsj.assignment.t1708e/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.dwsj.assignment.t1708e/" name="PlaceServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.dwsj.assignment.t1708e/" schemaLocation="http://localhost:9000/place?xsd=1"/>
</xsd:schema>
</types>
<message name="createPlace">
<part name="parameters" element="tns:createPlace"/>
</message>
<message name="createPlaceResponse">
<part name="parameters" element="tns:createPlaceResponse"/>
</message>
<message name="updatePlace">
<part name="parameters" element="tns:updatePlace"/>
</message>
<message name="updatePlaceResponse">
<part name="parameters" element="tns:updatePlaceResponse"/>
</message>
<message name="getListPlace">
<part name="parameters" element="tns:getListPlace"/>
</message>
<message name="getListPlaceResponse">
<part name="parameters" element="tns:getListPlaceResponse"/>
</message>
<message name="deletePlace">
<part name="parameters" element="tns:deletePlace"/>
</message>
<message name="deletePlaceResponse">
<part name="parameters" element="tns:deletePlaceResponse"/>
</message>
<portType name="PlaceService">
<operation name="createPlace">
<input wsam:Action="http://service.dwsj.assignment.t1708e/PlaceService/createPlaceRequest" message="tns:createPlace"/>
<output wsam:Action="http://service.dwsj.assignment.t1708e/PlaceService/createPlaceResponse" message="tns:createPlaceResponse"/>
</operation>
<operation name="updatePlace">
<input wsam:Action="http://service.dwsj.assignment.t1708e/PlaceService/updatePlaceRequest" message="tns:updatePlace"/>
<output wsam:Action="http://service.dwsj.assignment.t1708e/PlaceService/updatePlaceResponse" message="tns:updatePlaceResponse"/>
</operation>
<operation name="getListPlace">
<input wsam:Action="http://service.dwsj.assignment.t1708e/PlaceService/getListPlaceRequest" message="tns:getListPlace"/>
<output wsam:Action="http://service.dwsj.assignment.t1708e/PlaceService/getListPlaceResponse" message="tns:getListPlaceResponse"/>
</operation>
<operation name="deletePlace">
<input wsam:Action="http://service.dwsj.assignment.t1708e/PlaceService/deletePlaceRequest" message="tns:deletePlace"/>
<output wsam:Action="http://service.dwsj.assignment.t1708e/PlaceService/deletePlaceResponse" message="tns:deletePlaceResponse"/>
</operation>
</portType>
<binding name="PlaceServicePortBinding" type="tns:PlaceService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PlaceServiceService">
<port name="PlaceServicePort" binding="tns:PlaceServicePortBinding">
<soap:address location="http://localhost:9000/place"/>
</port>
</service>
</definitions>