src/main/java/t1708e/assignment/dwsjclient/service/place/place.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8080/ws/entity.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/ws/entity.wsdl" targetNamespace="http://localhost:8080/ws/entity.wsdl">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8080/ws/entity.wsdl">
    <xs:element name="listPlace">
        <xs:complexType/>
    </xs:element>

    <xs:element name="listPlaceRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="places" type="tns:xmlplace"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPlace">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPlaceRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="place" type="tns:xmlplace"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPlace">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPlaceRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="place" type="tns:xmlplace"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updatePlace">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updatePlaceRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletePlace">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletePlaceRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:portType name="PlacesPort">
  </wsdl:portType>
  <wsdl:binding name="PlacesPortSoap11" type="tns:PlacesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="PlacesPortService">
    <wsdl:port binding="tns:PlacesPortSoap11" name="PlacesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>