src/main/java/com/quanganh9x/springwsclient/endpoint/image/image.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://quanganh9x.com/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://quanganh9x.com/soap" targetNamespace="http://quanganh9x.com/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://quanganh9x.com/soap">
    <xs:import namespace="http://quanganh9x.com/soap" schemaLocation="00entity.xsd"/>
    <xs:element name="listImage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="placeId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listImageRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="images" type="tns:xmlimage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getImage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getImageRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="image" type="tns:xmlimage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createImage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="source" type="xs:string"/>
                <xs:element name="placeId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createImageRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="image" type="tns:xmlimage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateImage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="source" type="xs:string"/>
                <xs:element name="placeId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateImageRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteImage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteImageRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:portType name="ImagesPort">
  </wsdl:portType>
  <wsdl:binding name="ImagesPortSoap11" type="tns:ImagesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="ImagesPortService">
    <wsdl:port binding="tns:ImagesPortSoap11" name="ImagesPortSoap11">
      <soap:address location="http://34.83.241.129:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>