src/main/java/t1708e/assignment/dwsjclient/service/user/user.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.travel.t1708e/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.travel.t1708e/" name="UserServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.travel.t1708e/" schemaLocation="http://localhost:9000/user?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="getListUser">
<part name="parameters" element="tns:getListUser"/>
</message>
<message name="getListUserResponse">
<part name="parameters" element="tns:getListUserResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="findByUsername">
<part name="parameters" element="tns:findByUsername"/>
</message>
<message name="findByUsernameResponse">
<part name="parameters" element="tns:findByUsernameResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="UserService">
<operation name="register">
<input wsam:Action="http://service.travel.t1708e/UserService/registerRequest" message="tns:register"/>
<output wsam:Action="http://service.travel.t1708e/UserService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service.travel.t1708e/UserService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://service.travel.t1708e/UserService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="getListUser">
<input wsam:Action="http://service.travel.t1708e/UserService/getListUserRequest" message="tns:getListUser"/>
<output wsam:Action="http://service.travel.t1708e/UserService/getListUserResponse" message="tns:getListUserResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://service.travel.t1708e/UserService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://service.travel.t1708e/UserService/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="findByUsername">
<input wsam:Action="http://service.travel.t1708e/UserService/findByUsernameRequest" message="tns:findByUsername"/>
<output wsam:Action="http://service.travel.t1708e/UserService/findByUsernameResponse" message="tns:findByUsernameResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://service.travel.t1708e/UserService/loginRequest" message="tns:login"/>
<output wsam:Action="http://service.travel.t1708e/UserService/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserServiceService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:9000/user"/>
</port>
</service>
</definitions>