src/main/java/com/quanganh9x/springwsclient/endpoint/rating/rating.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://quanganh9x.com/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://quanganh9x.com/soap" targetNamespace="http://quanganh9x.com/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://quanganh9x.com/soap">
    <xs:import namespace="http://quanganh9x.com/soap" schemaLocation="00entity.xsd"/>
    <xs:element name="listRating">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listRatingRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="ratings" type="tns:xmlrating"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getRating">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getRatingRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rating" type="tns:xmlrating"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createRating">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="point" type="xs:int"/>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="placeId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createRatingRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rating" type="tns:xmlrating"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateRating">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="point" type="xs:int"/>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="placeId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateRatingRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteRating">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteRatingRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:portType name="RatingsPort">
  </wsdl:portType>
  <wsdl:binding name="RatingsPortSoap11" type="tns:RatingsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="RatingsPortService">
    <wsdl:port binding="tns:RatingsPortSoap11" name="RatingsPortSoap11">
      <soap:address location="http://34.83.241.129:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>