src/main/java/com/quanganh9x/springwsclient/endpoint/comment/comment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://quanganh9x.com/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://quanganh9x.com/soap" targetNamespace="http://quanganh9x.com/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://quanganh9x.com/soap">
    <xs:import namespace="http://quanganh9x.com/soap" schemaLocation="00entity.xsd"/>
    <xs:element name="listComment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="placeId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listCommentRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="comments" type="tns:xmlcomment"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getComment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCommentRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="comment" type="tns:xmlcomment"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createComment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="content" type="xs:string"/>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="placeId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createCommentRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="comment" type="tns:xmlcomment"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateComment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="content" type="xs:string"/>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="placeId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateCommentRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteComment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteCommentRes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:portType name="CommentsPort">
  </wsdl:portType>
  <wsdl:binding name="CommentsPortSoap11" type="tns:CommentsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="CommentsPortService">
    <wsdl:port binding="tns:CommentsPortSoap11" name="CommentsPortSoap11">
      <soap:address location="http://34.83.241.129:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>